<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos y Servicios</title>
</head>
<body>
<h1>Productos y Servicios</h1>

<h2 th:text="${tituloProductos}"></h2>
<table>
    <thead>
    <tr>
        <th>Cód. interno</th>
        <th>EAN</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producto: ${productos}">
        <td th:text="${producto.getSku()}"></td>
        <td th:text="${producto.getEan()}"></td>
        <td th:text="${producto.getNombre()}"></td>
        <td th:text="${producto.getDescripcion()}"></td>
        <td th:text="${producto.getPrecio()}"></td>
        <td th:text="${producto.getStock()}"></td>
    </tr>
    </tbody>
</table>

<h2 th:text="${tituloServicios}"></h2>
<table>
    <thead>
    <tr>
        <th>Cod. interno</th>
        <th>EAN</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Duración</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="servicio: ${servicios}">
        <td th:text="${servicio.getCodInterno()}"></td>
        <td th:text="${servicio.getEan()}"></td>
        <td th:text="${servicio.getNombre()}"></td>
        <td th:text="${servicio.getDescripcion()}"></td>
        <td th:text="${servicio.getPrecio()}"></td>
        <td th:text="${servicio.getDuracion()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>